/* clear redundnt styles */
/* get rid of media queries, use display flex: instead */
/* global padding and gap instead of local margings */
/* redo img girl using flex grow */
/* replace balaNces_p1 to :last-child */
/* history: make history element (image + circle + label), and reuse it */
/* place icons as images, not using ::before */

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set up the default font styling  */
.body {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.container {
  width: 100%;
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 45px 31px 0 33px;
}

.main {
  display: flex;
  flex-direction: column;
  background: #e9ebec;
  padding: 46px 30px 0 42px;
}

.side {
  min-width: 357px;
  padding: 46px 28px 0 28px;
}

/* ////////////////  Лого Навигация баннер  ////////////*/

.logo {
  display: flex;
  /* saves the day on a smaller screens */
  align-self: center;
  /* child text elements inherit styles so you can apply all the styling to the parent element */
  font-size: 21px;
  font-weight: 600;
  color: #3579dc;
}

.nav_bar {
  display: flex;
  flex-direction: column;
  padding: 70px 55px 64px 24px;
  gap: 43px;
}
.menu__bar {
  display: flex;
  gap: 13px;
}

a {
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  text-decoration: none;
  color: #8e97a4;
}
.subscr {
  border-radius: 10px;
  background: linear-gradient(162.79deg, #3579dc 23.51%, #95d9ff 93.9%);
  color: #ffffff;
  padding: 51px 18px 21px 17px;
}

.sub1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  padding-bottom: 5px;
}
.sub2 {
  font-size: 17px;
  font-weight: 400;
}
.sub1 {
  width: max-content;
}

/*//////////////// Основной контент ////////////// */

.trendH3__main,
.head2History {
  font-size: 20px;
}

.blocks__group {
  display: flex;
  padding-top: 31px;
  padding-bottom: 47px;
  gap: 14px;
}
.blocks {
  display: flex;
  border-radius: 11px;
  background: #ffff;
  box-shadow: 0px 22px 40px 0px #8e97a430;
  padding: 22px 76px 29px 16px;
  gap: 24px;
}

/* You can prevent a lot of duplication with this technique */
.p1__blocks,
.p2__blocks,
.head2History,
.trendH3__main {
  font-weight: 600;
  color: #404650;
}

.p1__blocks {
  font-size: 18px;
}

.p2__blocks {
  font-size: 16px;
  font-weight: 400;
}

.imgHome {
  align-self: center;
}

@media screen and (max-width: 1439px) {
  .imgGirl {
    display: none;
  }
}

.layer {
  display: flex;
  gap: 32px;
}

.block__balances {
  /* That's the approach with flex-grow */
  flex: 1;
  max-width: 580px;
  padding: 20px 16px 79px 43px;
  border-radius: 11px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 22px 40px 0px #8e97a430;
}

.balances__p1,
.balances__p2 {
  color: rgba(64, 70, 80, 1);
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.63px;
}
.balances__p2 {
  font-size: 33px;
}

.balaces_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #404650;
  border-bottom: 1px solid #f1f4f5;
  line-height: 20.11px;
  padding-top: 18px;
  padding-bottom: 21px;
}
.balaces_p:last-child {
  border: none;
  padding-bottom: 0;
}

.cost {
  display: flex;
  gap: 15px;
  align-items: center;
}

.new5blocks {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  padding-top: 39px;
}
.new__block {
  width: 226px;
  height: 120px;
  border-radius: 11px;
  background: #ffffff;
  box-shadow: 0px 22px 40px 0px #8e97a430;
}

/*///////////////// Сайд бар с историей //////////////////////////*/
.side_email {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.side_email p {
  width: max-content;
  padding-top: 3px;
}
.date {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #88909c;
}

.history_email {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.circle__color {
  background: #3579dc !important;
}

.circle {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid #cdd2d4;
  background-color: #fdfeff;
  z-index: 2;
}

.imgBlock {
  position: relative;
}
.imgBlock .tooltip {
  visibility: hidden;
  position: absolute;
  top: 36px;
  left: -93px;
}
.imgBlock:hover .tooltip {
  visibility: visible;
}
.emailOpen {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #3579dc;
}

.line {
  width: 1px;
  height: 400px;
  margin-left: 13px;
  position: absolute;
  border-left: 1px dashed #cdd2d4;
  top: 120px;
}
.side_email img {
  position: relative;
  top: 3px;
  left: -19px;
  z-index: 3;
}
